.PopupManager__popup {
   position: absolute;
   border: 1px solid #ccc;
   padding: 10px;
   display: flex;
   flex-direction: column;
   min-height: 130px;
   min-width: 400px;
   background: white;
}

.PopupManager__titlebar {
   display: flex;
   flex-direction: row-reverse;
}

.PopupManager__titlebarClose {
   color: #c72222;
   padding: 3px;
   cursor: pointer;
}

.PopupManager__content {
   margin-top: 10px;
}
